.container-edit-event{
    justify-content: center;
    align-items: center;
}

.container-edit-event .paper{
    padding: 0px 20px 100px 20px;
}

.container-edit-event .grid-image{
    width:100%;
    height:375px;
    position: relative;
}

.container-edit-event img{
    width:100%;
    height:100%;
    object-fit:cover;
    pointer-events: none;
}

.container-edit-event .placeholder{
    color: white;
    font-size: 20px;
}

.container-edit-event .box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to left, transparent 0%, rgb(57, 57, 57) 80%);
    width: 100%;
}

.container-edit-event .grid-start{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-edit-event .grid-middle{
    justify-content: center;
    align-items: center;
}

.container-edit-event .grid-end{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .container-edit-event .paper{ 
        width: 450px;
    }

    .container-edit-event .grid-start{
        justify-content: flex-start;
        padding-bottom: 10%;
    }

    .container-edit-event .grid-middle{
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .container-edit-event .grid-start{
        justify-content: flex-start;
        padding-bottom: 10%;
    }

    .container-edit-event .grid-middle{
        display: none;
    }
}


@media only screen and (min-width: 900px){
    .container-edit-event .paper{ 
        width: 850px;
    }

    .container-edit-event .grid-middle{
        display: flex;
    }
}
