.container-change-password{
    justify-content: center;
    align-items: center;
}

.container-change-password .paper{
    padding: 30px 20px 30px 20px;
    width: 450px;
}

.container-change-password .title{
    border-left: 2px solid black;
    padding-left: 10px;
}

.container-change-password  .password-requirements{
    width: 100%;
    height: max-content;
}

.password-requirements ul{
    margin-left: 60px;
}

.password-requirements p{
    font-size: 17px;
}

.password-requirements li{
    font-size: 17px;
}