.container-event-card .paper{
    padding: 12px;
    width: 900px;
    margin-top: 15px;
}

.container-event-card .grid-image{
    height: 200px;
    position: relative;
}

.container-event-card .placeholder{
    color: white;
    font-size: 18px;
}

.container-event-card .box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to bottom, transparent 0%, black 90%);
    width: 100%;
}

.container-event-card .grid-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
@media only screen and (max-width: 600px){
    .container-event-card .paper{ 
        width: 420px;
    }

    .container-event-card .grid-image{
        height: 210px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .container-event-card .paper{ 
        width: 500px;
    }

    .container-event-card .grid-image{
        height: 260px;
    }
}
