.container-card-joined .grid-image{
    height: 200px;
    position: relative;
}

.container-card-joined .placeholder{
    color: white;
    font-size: 18px;
}
  
.container-card-joined .box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to bottom, transparent 0%, black 90%);
    width: 100%;
}

.container-card-joined .grid-button{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .container-card-joined .grid-image{
        height: 210px;
    }
}
  
@media only screen and (min-width: 600px) and (max-width: 900px){
    .container-card-joined .grid-image{
        height: 260px;
    }
}